# Purpose
The purpose of this script is to extract the data from a csv into a string format that can be used both in your prompt as well as to create a Pandas DataFrame in your code. The first piece of code creates a markdown formatted table to be used in prompts, and the second piece of code creates python code that you can copy to create a DataFrame.

# Modifiable Variables
1. path: Set this variable to the name of your file
2. rows: Set this variable to the number of rows you want

# How To Use This Script
1. Upload your file
2. Change your path and rows variables
3. Run the first cell
4. Copy the markdown formatted output to use in your prompt
5. Run the second cell
6. Copy the output to use in your code to make a DataFrame. (See the third code cell to see how to use this output to make a DataFrame)

This cell produces a markdown formatted table to be used in your prompt. Be sure to upload your file and modify the path and row variables before running.

In [172]:
import pandas as pd

# Modify These Two Variables
# This is the name of your file
path = 'sport_car_data.csv'
# This is the number of rows you want
rows = 10

# Leave the rest of this
# Load the file
df = pd.read_csv(path)

# Make sure rows are less than total
if rows > len(df):
  rows = len(df)

# Select number of rows
df = df.iloc[:rows]

# Print the table
print('| ', ' | '.join([str(col) for col in df.columns]), '|')
print('|'+'|'.join(['---' for col in df.columns])+'|')
for ind, row in df.iterrows():
  print('|'+'|'.join([str(v) for v in row])+'|')

|  Make | Model | Year | Eng Size (L) | HP | Torque | MPH Time 0-70 SECS | $ (USD) |
|---|---|---|---|---|---|---|---|
|Lamborghini|Huracan|2021|5.2|630|444|2.8|274,389|
|Ferrari|488 GTB|2022|3.9|661|562|3|333,749|
|Audi|R8|2022|5.2|562|407|3.2|142,699|
|McLaren|720S|2021|4|710|569|2.7|298,000|
|BMW|M8|2022|4.4|617|554|3.1|130,000|
|Mercedes-Benz|AMG GT|2021|4|523|495|3.8|118,500|
|Chevrolet|Corvette|2021|6.2|490|466|2.8|59,900|
|Ford|Mustang Shelby GT500|2022|5.2|760|626|3.5|81,000|
|Nissan|GT-R Nismo|2021|3.8|600|482|2.5|212,000|
|Aston Martin|DB11|2021|5.2|630|517|3.5|201,494|

This cell produces a Pandas DataFrame to be used in your code

In [167]:
# Print the comment
print('# Create the DataFrame')

# Print the columns
print('columns = [' + ", ".join(["\""+str(col)+"\"" for col in df.columns]) + ']')

# Print the data
print('data = [')
for ind, row in df.iterrows():
  print('[', ','.join(["\""+str(i)+"\"" for i in row.values]), '],')
print(']')

# Print the code to make a DataFrame
print('df = pd.DataFrame(data, columns=columns)')

# Create the DataFrame
columns = ["Make", "Model", "Year", "Eng Size (L)", "HP", "Torque", "MPH Time 0-70 SECS", "$ (USD)"]
data = [
[ "Lamborghini","Huracan","2021","5.2","630","444","2.8","274,389" ],
[ "Ferrari","488 GTB","2022","3.9","661","562","3","333,749" ],
[ "Audi","R8","2022","5.2","562","407","3.2","142,699" ],
[ "McLaren","720S","2021","4","710","569","2.7","298,000" ],
[ "BMW","M8","2022","4.4","617","554","3.1","130,000" ],
[ "Mercedes-Benz","AMG GT","2021","4","523","495","3.8","118,500" ],
[ "Chevrolet","Corvette","2021","6.2","490","466","2.8","59,900" ],
[ "Ford","Mustang Shelby GT500","2022","5.2","760","626","3.5","81,000" ],
[ "Nissan","GT-R Nismo","2021","3.8","600","482","2.5","212,000" ],
[ "Aston Martin","DB11","2021","5.2","630","517","3.5","201,494" ],
]
df = pd.DataFrame(data, columns=columns)

Sample Pandas DataFrame creation

In [170]:
import pandas as pd

# Copy Previous Output Here!
# Create the DataFrame
columns = ["Make", "Model", "Year", "Eng Size (L)", "HP", "Torque", "MPH Time 0-70 SECS", "$ (USD)"]
data = [
[ "Lamborghini","Huracan","2021","5.2","630","444","2.8","274,389" ],
[ "Ferrari","488 GTB","2022","3.9","661","562","3","333,749" ],
[ "Audi","R8","2022","5.2","562","407","3.2","142,699" ],
[ "McLaren","720S","2021","4","710","569","2.7","298,000" ],
[ "BMW","M8","2022","4.4","617","554","3.1","130,000" ],
[ "Mercedes-Benz","AMG GT","2021","4","523","495","3.8","118,500" ],
[ "Chevrolet","Corvette","2021","6.2","490","466","2.8","59,900" ],
[ "Ford","Mustang Shelby GT500","2022","5.2","760","626","3.5","81,000" ],
[ "Nissan","GT-R Nismo","2021","3.8","600","482","2.5","212,000" ],
[ "Aston Martin","DB11","2021","5.2","630","517","3.5","201,494" ],
]
df = pd.DataFrame(data, columns=columns)

# The Rest of your code would follow here
# Print the DataFrame
print(df)

            Make                 Model  Year Eng Size (L)   HP Torque  \
0    Lamborghini               Huracan  2021          5.2  630    444
1        Ferrari               488 GTB  2022          3.9  661    562
2           Audi                    R8  2022          5.2  562    407
3        McLaren                  720S  2021            4  710    569
4            BMW                    M8  2022          4.4  617    554
5  Mercedes-Benz                AMG GT  2021            4  523    495
6      Chevrolet              Corvette  2021          6.2  490    466
7           Ford  Mustang Shelby GT500  2022          5.2  760    626
8         Nissan            GT-R Nismo  2021          3.8  600    482
9   Aston Martin                  DB11  2021          5.2  630    517

  MPH Time 0-70 SECS  $ (USD)
0                2.8  274,389
1                  3  333,749
2                3.2  142,699
3                2.7  298,000
4                3.1  130,000
5                3.8  118,500
6                2.8   59,900
7                3.5   81,000
8                2.5  212,000
9                3.5  201,494